<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>DouPHP 管理中心 - 首页幻灯广告 </title>
<meta name="Copyright" content="Douco Design." />
<link href="/static/css/public.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/global.js"></script>
</head>
<body>
<div id="dcWrap">
 <div id="dcHead">
 <div id="head">
  <div class="logo"><a href="index.html"><img src="/static/images/dclogo.gif" alt="logo"></a></div>
  <div class="nav">

   <ul class="navRight">

    </li>
    <li class="noRight"><a href="{:url('login/loginout')}">退出</a></li>
   </ul>
  </div>
 </div>
</div>
<!-- dcHead 结束 --> <div id="dcLeft"><div id="menu">
    <ul class="top">
        <li><a href="{:url('indexs/index')}"><i class="home"></i><em>管理首页</em></a></li>
    </ul>
    <ul>
        <li><a href="{:url('admins/admin_list')}"><i class="manager"></i><em>网站管理员</em></a></li>
        <li><a href="{:url('admins/admin_rbac')}"><i class="manager"></i><em>RBAC管理</em></a></li> </ul>
    <ul>
        <li><a href="{:url('slides/slide_list')}"><i class="show"></i><em>首页幻灯广告</em></a></li>
    </ul>
    <ul>
        {include file="public/brand"}
        <li><a href="{:url('goodss/goods_category')}"><i class="productCat"></i><em>商品分类</em></a></li>
        <li><a href="{:url('goodss/goods_list')}"><i class="product"></i><em>商品列表</em></a></li>
         
        <li><a href="{:url('goodss/goods_attr_list')}"><i class="product"></i><em>商品属性</em></a></li>
        <li><a href="{:url('goodss/goods_recycle_bin')}"><i class="product"></i><em>商品回收站</em></a></li>
        <li><a href="{:url('goodss/goods_photo')}"><i class="article"></i><em>相册列表</em></a></li>
    </ul>
    <ul>
        <!-- <li><a href="{:url('articles/article_category')}"><i class="articleCat"></i><em>文章分类</em></a></li> -->
        <li><a href="{:url('articles/article_list')}"><i class="article"></i><em>文章列表</em></a></li>
    </ul>
    <ul>
        <li><a href="{:url('order/order_list')}"><i class="article"></i><em>订单列表</em></a></li>
    </ul>
    <ul class="bot">
        <li><a href="#"><i class="system"></i><em>系统设置</em></a> </li>
        <li><a href="{:url('logs/log')}"><i class="managerLog"></i><em>操作记录</em></a></li>
        <li><a href="{:url('indexs/up_pwd')}"><i class="managerLog"></i><em>修改密码</em></a></li>
    </ul>
</div></div>
 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">DouPHP 管理中心<b>></b><strong>首页幻灯广告</strong> </div>   <div class="mainBox imgModule">
    <h3>首页幻灯广告</h3>
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
    <tr>
       <th>编辑幻灯</th>
       <th>幻灯列表</th>
     </tr>
     <tr>
      <td width="350" valign="top">

       <form action="" class="formEdit" method="post" enctype="multipart/form-data" onsubmit="return check_all()">
<?php if (isset($update)) { ?>

        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableOnebor">
         <tr>
          <td><b>幻灯名称</b>
              <input type="text" name="show_name" value="{$update.show_name}" size="20" class="inpMain" />

          </td>
         </tr>
         <tr>
          <td>
            <b>幻灯图片</b>
            <input type="file" name="show_img" class="inpFlie" />
         
            <a href="{$update.path}" target="_blank">
            <img width="100%" src="{$update.path}">
           </a>
           </td>
         </tr>
         <tr>
          <td><b>链接地址</b>
           <input type="text" name="show_link" value="{$update.show_link}" size="40" class="inpMain" />
          </td>
         </tr>
         <tr>
          <td><b>排序</b>
<input type="text" name="sort" value="{$update.sort}" size="20" class="inpMain" />
          </td>
         </tr>
         <tr>
          <td>
                      <a href="show.php" class="btnGray">取消</a>
           <input type="hidden" name="id" value="{$update.show_id}">
          <input type="hidden" name="path_info" value="{$update.path}">
                      <input type="hidden" name="token" value="d80a288d" />
           <input name="submit" class="btn" type="submit" value="修改" />
          </td>
         </tr>
        </table>
     <?php }else{ ?>
           <form action="" class="formEdit" method="post" enctype="multipart/form-data" onsubmit="return check_all()">

        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableOnebor">
         <tr>
          <td><b>幻灯名称</b>
              <input type="text" name="show_name" id="show_name" value="" size="20" class="inpMain" />
              <span id="spname"></span>
          </td>
         </tr>
         <tr>
          <td><b>幻灯图片</b>
           <input type="file" name="show_img" class="inpFlie" />
           <a href="http://www.weiqing.com/data/slide/20130514acunau.jpg" target="_blank"><img src="/backend/images/icon_yes.png"></a>          </td>
         </tr>
         <tr>
          <td><b>链接地址</b>
           <input type="text" name="show_link" value="http://" size="40" class="inpMain" />
          </td>
         </tr>
         <tr>
          <td><b>排序</b>
<input type="text" name="sort" value="1" size="20" class="inpMain" />
          </td>
         </tr>
         <tr>
          <td>
            <a href="" class="btnGray">取消</a>
           <input type="hidden" name="id" value="1">
           <input type="hidden" name="show_img" value="http://www.weiqing.com/data/slide/20130514acunau.jpg">
                      <input type="hidden" name="token" value="d80a288d" />
           <input name="submit" class="btn" type="submit" value="提交" id="btn"/>
          </td>
         </tr>
        </table>
        <?php } ?>
       </form>

      </td>
      <td valign="top">
       <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableOnebor">

        <tr>
         <td width="100">图片</td>
         <td>幻灯名称</td>
         <td width="50" align="center">排序</td>
         <td width="80" align="center">操作</td>
        </tr>
        
{foreach name="data" item="vo" key="k" }
      <tr class="active">
        <td>
            <a href="{$vo.path}" target="_blank">
              <img src="{$vo.path}" width="100" />
            </a>
        </td>
        <td>{$vo.show_name}</td>
        <td align="center">{$vo.sort}</td>
        <td align="center">
            <a href="/index.php/backend/slides/slide_update.html?page={$data->currentPage()}&id={$vo.show_id}">编辑</a> | 
            <a href="/index.php/backend/slides/slide_delete.html?page={$data->currentPage()}&id={$vo.show_id}">删除</a>
        </td>
      </tr>
{/foreach}
      <tr align="center">
          <th colspan="4" align="center" style="font-size:14px;color: #666666">  
            <span>
              <a href="/index.php/backend/slides/slide_list.html?page=1">首页</a>
           </span>
           <span>
              <a href="/index.php/backend/slides/slide_list.html?page=
               <?php if ($data->currentPage()-1<1) {echo 1;}else{echo $data->currentPage()-1;}?>">上一页</a>
           </span>

           <span>
              <a href="/index.php/backend/slides/slide_list.html?page=
              <?php if ($data->currentPage()+1>$data->lastPage()) {echo $data->lastPage();}else{echo $data->currentPage()+1;}?>">下一页</a>
 
          </span>
           <span>
              <a href="/index.php/backend/slides/slide_list.html?page={$data->lastPage()}">尾页</a>
           </span>
           <span>
               <a href="/index.php/backend/slides/slide_list.html?page={$data->currentPage()}">当前{$data->currentPage()}页</a>
               </span> 
            <span>总共{$data->lastPage()}页</span>          
          </th>
      </tr>

      <style>
        /*  span{float: left;font-size:12px;}*/
      </style>

               </table>
      </td>
     </tr>
    </table>
   </div>
 </div>
 <div class="clear"></div>
<div id="dcFooter">
 <div id="footer">
  <div class="line"></div>
  <ul>
   版权所有 © 2013-2015 漳州豆壳网络科技有限公司，并保留所有权利。
  </ul>
 </div>
</div><!-- dcFooter 结束 -->
<div class="clear"></div> </div>
</body>
</html>
<script>
    var flag=false
    $(document).on("blur","#show_name",function(){
       var show_name = $("#show_name").val();
       if(show_name==""){
           $("#spname").html("<font color='red'>幻灯名称不能为空</font>");
           flag=false
       }else{
           $("#spname").html("<font color='green'>√</font>");
           flag=true

       }
    })
function check_all(){
        if(flag==true){
            $("#btn").submit();
            return true;
        }else{
            return false;
        }
}

</script>