
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>DouPHP 管理中心</title>
    <meta name="Copyright" content="Douco Design." />
    <link href="/static/css/public.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/global.js"></script>
</head>
<body>
<div id="dcWrap"> <div id="dcHead">
    <div id="head">
        <div class="logo"><a href="index.html"><img src="/static/images/dclogo.gif" alt="logo"></a></div>
        <div class="nav">

            <ul class="navRight">
                <li class="M noLeft"><a href="JavaScript:void(0);">您好，<?php echo $admin_name?></a>

                </li>
                <li class="noRight"><a href="{:url('login/loginout')}">退出</a></li>
            </ul>
        </div>
    </div>
</div>
    <!-- dcHead 结束 --> <div id="dcLeft"><div id="menu">
        <ul class="top">
            <li><a href="{:url('indexs/index')}"><i class="home"></i><em>管理首页</em></a></li>
        </ul>
        <ul>
            <li><a href="{:url('admins/admin_list')}"><i class="manager"></i><em>网站管理员</em></a></li>
            <li><a href="{:url('admins/admin_rbac')}"><i class="manager"></i><em>RBAC管理</em></a></li> </ul>
        <ul>
            <li><a href="{:url('slides/slide_list')}"><i class="show"></i><em>首页幻灯广告</em></a></li>
        </ul>
        <ul>
        {include file="public/brand"}
            <li><a href="{:url('goodss/goods_category')}"><i class="productCat"></i><em>商品分类</em></a></li>
            <li><a href="{:url('goodss/goods_list')}"><i class="product"></i><em>商品列表</em></a></li>
             
            <li><a href="{:url('goodss/goods_attr_list')}"><i class="product"></i><em>商品属性</em></a></li>
        <li><a href="{:url('goodss/goods_recycle_bin')}"><i class="product"></i><em>商品回收站</em></a></li>
            <li><a href="{:url('goodss/goods_photo')}"><i class="article"></i><em>相册列表</em></a></li>
        </ul>
        <ul>
            <!-- <li><a href="{:url('articles/article_category')}"><i class="articleCat"></i><em>文章分类</em></a></li> -->
            <li><a href="{:url('articles/article_list')}"><i class="article"></i><em>文章列表</em></a></li>
        </ul>
        <ul>
            <li><a href="{:url('order/order_list')}"><i class="article"></i><em>订单列表</em></a></li>
        </ul>
        <ul class="bot">
            <li><a href="#"><i class="system"></i><em>系统设置</em></a> </li>
            <li><a href="{:url('logs/log')}"><i class="managerLog"></i><em>操作记录</em></a></li>
            <li><a href="{:url('indexs/up_pwd')}"><i class="managerLog"></i><em>修改密码</em></a></li>
        </ul>
    </div></div>
    <div id="dcMain"> <!-- 当前位置 -->
        <div id="urHere">DouPHP 管理中心</div>  <div id="index" class="mainBox" style="padding-top:18px;height:auto!important;height:550px;min-height:550px;">
            <div class="warning">您还没有删除 install 文件夹，出于安全的考虑，我们建议您删除 install 文件夹。</div>

            <div id="douApi"></div>
            <div class="indexBox">
                <div class="boxTitle">修改密码</div>
                <center>
                    <form action="{:url('indexs/up_pwd2')}" method="post" onsubmit="return check_all()">
                    <table>
                        <tr>
                            <td>当前用户：</td>
                            <td><?php echo $admin_name?></td>
                        </tr></br>
                    <tr>
                        <td>原密码：</td>
                        <td><input type="password" id="admin_pwd" name="admin_pwd" class="inpMain">
                        <span id="sppwd"></span>
                        </td>
                    </tr></br>
                    <tr>
                        <td>设置新密码：</td>
                        <td><input type="password" id="new_pwd" name="new_pwd" class="inpMain">
                            <span id="sp_new_pwd"></span>

                        </td>
                    </tr></br>
                    <tr>
                        <td>确认密码：</td>
                        <td><input type="password" id="confirm_pwd" name="confirm_pwd" class="inpMain">
                        <span id="confirm_new_pwd"></span>
                        </td>
                    </tr></br>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="确认修改" id="confirm" class="btn"></td>
                        </tr></br>

                    </table>
                    </form>
                </center>

            </div>
            </ul>
        </div>
            </ul>
        </div>

    </div>
</div>
<div class="clear"></div>
<div id="dcFooter">
    <div id="footer">
        <div class="line"></div>
        <ul>
            版权所有 © 2013-2015 漳州豆壳网络科技有限公司，并保留所有权利。
        </ul>
    </div>
</div><!-- dcFooter 结束 -->
<div class="clear"></div> </div>
</body>
</html>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script>
   var flag1= false
   var flag2=false
   var  flag3=false
    $("#admin_pwd").on("blur",function(){
       var admin_pwd = $("#admin_pwd").val()
        if(admin_pwd==""){
            $("#sppwd").html("<font color='red'>密码不能为空</font>");
            flag1=false;
        }else{
            $.ajax({
                url:"{:url('indexs/up_pwd1')}",
                data:{admin_pwd:admin_pwd},
                type:"post",
                dataType:"json",
                success:function(data){
                    if(data==3){
                        $("#sppwd").html("<font color='red'>请输出正确的原密码</font>");
                        flag1=false;
                    }else{
                        $("#sppwd").html("<font color='green'>√</font>");
                        flag1=true;

                    }
                }
            })
        }
    })

    $("#new_pwd").on("blur",function(){
        var new_pwd = $("#new_pwd").val();
//        var admin_pwd = $("#admin_pwd").val()
        if(new_pwd==""){
         $("#sp_new_pwd").html("<font color='red'>新密码不能为空</font>");
            flag2=false;
        }else{
        $("#sp_new_pwd").html("<font color='green'>√</font>");
            flag2=true;
     }
    })



    $("#confirm_pwd").on("blur",function(){
        var confirm_pwd = $("#confirm_pwd").val();
        var new_pwd = $("#new_pwd").val();
        if(confirm_pwd==""){
            $("#confirm_new_pwd").html("<font color='red'>确认密码不能为空</font>");
            flag3=false;

        }else if (new_pwd!=confirm_pwd){
            $("#confirm_new_pwd").html("<font color='red'>两次输入密码不一致</font>");
            flag3=false;

        }else{
            $("#confirm_new_pwd").html("<font color='green'>√</font>");
            flag3=true;
        }
    })
    function  check_all() {
        if(flag1==true && flag2==true  && flag3==true){
            $("#confirm").submit();
            return true;
        }else{
            return false;
        }
    }
</script>